body {
    /* font-family: Arial, sans-serif; */
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: #9ba9e6;
    font-family: 'Times New Roman', Times, serif;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }